<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include ..\vars.wxi ?>
  <?include GeneratedFiles\vcredist.wxi ?>
  <?include GeneratedFiles\mdnsmerge.wxi ?>

  <?define VcRedistMergeModulex64 = "$(var.VcRedistInstallLoc)\MergeModules\Microsoft_VC141_CRT_x64.msm" ?>
  <?define VcRedistMergeModulex86 = "$(var.VcRedistInstallLoc)\MergeModules\Microsoft_VC141_CRT_x86.msm" ?>

  <!-- This variable should NEVER BE CHANGED at any point in the product's lifecycle! -->
  <!-- It will muck with Windows installer logic. You have been warned. -->
  <?define UpgradeCode = "0BC7218C-9425-4634-8B22-147C8F48A1DE" ?>

  <Product Name="RDMnet Broker Service" Manufacturer="ETC Inc." Id="*"
      UpgradeCode="$(var.UpgradeCode)" Language="1033" Codepage="1252"
      Version="$(var.VersionNumber)">

    <Package Id="*" Keywords="Installer" Description="$(var.ProductDescription)"
        Manufacturer="ETC Inc." InstallerVersion="301" Languages="1033" Compressed="yes"
        SummaryCodepage="1252" InstallScope="perMachine" InstallPrivileges="elevated" />

    <!-- Upgrade logic - every upgrade is considered a Major Upgrade -->
    <Upgrade Id="$(var.UpgradeCode)">
        <UpgradeVersion Maximum="$(var.VersionNumber)" IncludeMaximum="yes" OnlyDetect="no"
                        Property="PLACEHOLDER" />
    </Upgrade>
    <MajorUpgrade AllowDowngrades="yes" AllowSameVersionUpgrades="no"
        Schedule="afterInstallInitialize" MigrateFeatures="no" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <!--
    This is a thin wrapper over the Broker merge module. Also including the
    required dependencies - the mDNSWindows and VCRedist merge modules.
    -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="VCRedistx86" SourceFile="$(var.VcRedistMergeModulex86)" DiskId="1" Language="0" />
      <Merge Id="mDNSResponder" SourceFile="$(var.mDNSMergeModule)" DiskId="1" Language="0" />
      <?if $(var.Platform) = x64 ?>
        <Merge Id="VCRedistx64" SourceFile="$(var.VcRedistMergeModulex64)" DiskId="1" Language="0" />
        <Merge Id="RDMnetBroker_x64" SourceFile="..\merge\bin\$(var.Configuration)\RDMnetBroker_x64.msm"
            DiskId="1" Language="0" />
      <?else ?>
        <Merge Id="RDMnetBroker_x86" SourceFile="..\merge\bin\$(var.Configuration)\RDMnetBroker_x86.msm"
            DiskId="1" Language="0" />
      <?endif ?>
    </Directory>

    <Feature Id="BrokerFeature" Title="RDMnet Broker Service $(var.VersionNumber)"
        AllowAdvertise="no" Display="hidden" Level="1">
      <!-- Always install the x86 VCRedist to support mDNSResponder -->
      <MergeRef Id="VCRedistx86" />
      <?if $(var.Platform) = x64 ?>
        <MergeRef Id="VCRedistx64" />
        <MergeRef Id="RDMnetBroker_x64" />
      <?else ?>
        <MergeRef Id="RDMnetBroker_x86" />
      <?endif ?>
      <MergeRef Id="mDNSResponder" />
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <UIRef Id="WixUI_Minimal" />
  </Product>
</Wix>
