<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?include ..\vars.wxi ?>

  <?if $(var.Platform) = x64 ?>
    <?define RdmnetBrokerModuleId = "RDMnetBroker_x64" ?>
  <?else ?>
    <?define RdmnetBrokerModuleId = "RDMnetBroker_x86" ?>
  <?endif ?>

  <Module Id="$(var.RdmnetBrokerModuleId)" Language="0" Version="$(var.VersionNumber)" Codepage="1252">

    <Package Id="DEE166EC-5441-43DC-9532-FFAFB81FFA93" Description="$(var.MergeDescription)"
        Manufacturer="ETC Inc." InstallerVersion="200" Languages="1033" SummaryCodepage="1252"
        InstallScope="perMachine" InstallPrivileges="elevated" />

    <!-- ############### Broker Service Directory Structure ############### -->

    <!-- The executable directory in Program Files (x86) -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesFolder)">
        <Directory Id="PROGRAM_FILES_ETC_DIR" Name="ETC">
          <Directory Id="INSTALLDIR" Name="RDMnetBroker" FileSource="$(var.InstallSourceDir)">
            <Component Id="Broker" Guid="2B4014E4-5278-469A-ABA7-A94F0AB850DA" SharedDllRefCount="yes">
              <File Id="BrokerExe" Name="RDMnetBrokerService.exe" DiskId="1" KeyPath="yes">
                <!-- Create Windows Firewall exceptions for the Broker executable. -->
                <fire:FirewallException Id="RDMnetBrokerTCP" Name="ETC RDMnet Broker (TCP-in)"
                    Profile="all" Protocol="tcp" Scope="any" IgnoreFailure="no" />
                <fire:FirewallException Id="RDMnetBrokerUDP" Name="ETC RDMnet Broker (UDP-in)"
                    Profile="all" Protocol="udp" Scope="any" IgnoreFailure="no" />
              </File>
              <File Id="DnsSdDll" Name="dnssd.dll" DiskId="1" />

              <!-- Configures the actual installing and uninstalling of the service -->
              <?include GeneratedFiles\service_config.wxi ?>
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <!-- The ProgramData directories for the conf and log files -->
      <Directory Id="CommonAppDataFolder">
        <Directory Id="PROGRAM_DATA_ETC_DIR" Name="ETC">
          <Directory Id="PROGRAM_DATA_RDMNET_BROKER_DIR" Name="RDMnetBroker" FileSource="src">
            <Component Id="BrokerConf" Guid="C24F6AF3-1DCD-4160-A604-200E78401721" SharedDllRefCount="yes">
              <CreateFolder>
                <util:PermissionEx User="Everyone" GenericAll="yes" />
              </CreateFolder>
              <File Id="BrokerConfFile" Name="broker.conf" DiskId="1" KeyPath="yes" />
            </Component>
            <Directory Id="PROGRAM_DATA_RDMNET_BROKER_LOGS_DIR" Name="Logs">
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
